html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #171717;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #363636;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0px;
}

p {
  line-height: 180%;
}

/*strong {
}*/

a {
  color: #bb3e03;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
  height: 246.66px;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

hr {
  display: none;
}

/** WRAPPER */

#wrapper {
  background: #ffffff url(images/bg01.png) repeat;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.clearfix {
  clear: both;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
  position: relative;
  height: 150px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
}

#logo h1 {
  display: inline-block;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

#logo a {
  text-decoration: none;
  color: #fff;
  border: solid whitesmoke 3px;
  padding: 3px 5px;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
  position: absolute;
  right: 0;
  top: 3em;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a,
#menu li span {
  display: block;
  padding: 0.8em 1.5em;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #a2a2a2;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
  font-weight: bold;
  color: #000;
}

#menu .current_page_item a {
  color: #fff;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
  position: relative;
  overflow: hidden;
  padding: 6em 0em 5em 0em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
  float: left;
  width: 790px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
  float: right;
  width: 345px;
}

#sidebar .title h2 {
  font-size: 1.6em;
}

#sidebar .box1 {
  margin-bottom: 3em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

/*#footer {
}*/

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper {
  overflow: hidden;
  height: 600px;
  background: url("images/header.jpg") no-repeat top center;
  background-size: 100%;
}

#header-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/68710/pexels-photo-68710.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}

#header-wrapper2 {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style2 li {
  border-top: solid 1px #e5e5e5;
  padding: 0.8em 0;
}

ul.style2 li:first-child {
  border-top: 0;
  padding-top: 0;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/
#portfolio-wrapper {
  background-image: url("../images/th.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0em;
}

#portfolio {
  overflow: hidden;
  text-align: center;
  color: #fffaf0;
}

#portfolio .title h2 {
  color: #fff;
}

#portfolio .byline {
  color: #ee9b00;
}

#column1,
#column2,
#column3,
#column4 {
  width: 282px;
}

#column1,
#column2 {
  float: left;
  margin-right: 24px;
}

#column3 {
  float: left;
}

#column4 {
  float: right;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  padding: 5em 0em;
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #6f6f6f;
}

#copyright a {
  text-decoration: none;
  color: #8c8c8c;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 5em;
}

.title h2 {
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 2em;
  color: #171717;
}

.title .byline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  color: #6f6f6f;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #bb3e03;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  color: #fff;
}

.button:hover {
  background: #ee9b00;
}

.button:active {
  background: #ee9b00;
}

/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

#two-column {
  padding-top: 3em;
}

#two-column .title h2 {
  font-size: 1.6em;
}

#two-column #tbox1 {
  float: left;
  width: 370px;
}

#two-column #tbox2 {
  float: right;
  width: 370px;
}

.fa-whatsapp-square {
  color: rgb(13, 233, 13);
  font-size: 55px;
  right: 15px;
  bottom: 20px;
  position: fixed;
}

.fa-whatsapp-square:hover {
  color: rgb(0, 168, 22);
  cursor: pointer;
}

.fa-whatsapp-square:active {
  color: rgb(0, 168, 22);
}

.box {
  text-align: center;
  border: solid black 3px;
  padding: 5px;
}

.color {
  background-color: whitesmoke;
}

#fondo1 {
  background-image: url("../images/f1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.lista {
  color: whitesmoke;
}

#fondo2 {
  background-image: url("../images/f2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
